* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex__item-1 {
    background-color: gray;
    height: 360px;
    width: 300px;
}

.flex__item-2 {
    width: 275px;
    height: 180px;
}